<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- ibrahim -->
    <filter>
        <filter-name>homeFilter</filter-name>
        <filter-class>com.webproject.bookstore.controller.filters.homeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>homeFilter</filter-name>
        <servlet-name>UserHomeServlet</servlet-name>
    </filter-mapping>
    <!-- ibrahim -->
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.webproject.bookstore.controller.filters.AdminFilter</filter-class>
        <init-param>
            <param-name>Email</param-name>
            <param-value>admin@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>admin</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>com.webproject.bookstore.controller.servlets.authenticationservlets.LoginServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>WishListServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.category.WishListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.authenticationservlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOffer</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.AddOffer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllOrders</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.ViewAllOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRating</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.bookpageservlets.AddRating</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllOrders</servlet-name>
        <url-pattern>/allOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishListServlet</servlet-name>
        <url-pattern>/wishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOffer</servlet-name>
        <url-pattern>/addoffer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/adminhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRating</servlet-name>
        <url-pattern>/addRating</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <filter>
        <filter-name>CartFilter</filter-name>
        <filter-class>com.webproject.bookstore.controller.filters.CartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CartFilter</filter-name>
        <servlet-name>LoadCartServlet</servlet-name>
        <servlet-name>ChechoutServlet</servlet-name>
        <servlet-name>RemoveCart</servlet-name>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-name>WishListServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.authenticationservlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterationServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.authenticationservlets.RegisterationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.cartservlets.LoadCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookPage</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.bookpageservlets.LoadBookPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChechoutServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.cartservlets.ChechoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCart</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.cartservlets.RemoveCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.cartservlets.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.home.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.home.UserHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.category.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.category.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieChart</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.PieChart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PieChart</servlet-name>
        <url-pattern>/piechart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCart</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChechoutServlet</servlet-name>
        <url-pattern>/ChechoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartServlet</servlet-name>
        <url-pattern>/LoadCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookPage</servlet-name>
        <url-pattern>/LoadBookPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/userhome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.DeleteProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.AddProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAllUsers</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.ViewAllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllUsers</servlet-name>
        <url-pattern>/viewAllUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Barchart</servlet-name>
        <servlet-class>com.webproject.bookstore.controller.servlets.admin.Barchart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Barchart</servlet-name>
        <url-pattern>/barchart</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>userhome</welcome-file>
    </welcome-file-list>
</web-app>
